{
  "current_api_url": "https://api-url.com/api/v1",
  "app_version": "1.2.1",
  "apk_url": "https://url-donde-esta-la-apk-en-el-bucket.apk",
  "exe_url": "",
  "deb_url": "",
  "app_image_url": "",
  "checkout_url": "http://localhost:4321/pos-system/"
}
